POSTGRES_USER=CHANGE-ME
POSTGRES_PASSWORD=CHANGE-ME
POSTGRES_DB=CHANGE-ME
POSTGRES_DB_TEST=CHANGE-ME
POSTGRES_DB_PRODUCTION=CHANGE-ME
POSTGRES_HOST=CHANGE-ME
POSTGRES_PORT=CHANGE-ME

# Antifraud Settings
MAX_CONSECUTIVE_TRANSACTIONS=CHANGE-ME
TRANSACTION_AMOUNT_LIMIT=CHANGE-ME
TRANSACTION_PERIOD=CHANGE-ME
